@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80.55%;
  margin: 1.25rem auto;
  /* padding: 1.125rem 8.75rem; */
  gap: 15.5rem;
}

.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.917rem;
}

.nav-title {
  font-weight: 700;
  font-size: 2.67rem;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 2.67rem;

  .home {
    color: #FEA301;
  }

  .about {
    color: #01ACFD;
  }

  .facilities {
    color: #05D4DF;
  }

  .admission {
    color: #5D58EF;
  }
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.67rem;
}

.primary-btn {
  padding: 0.83rem 5.041rem;
  font-size: 1.67rem;
  font-weight: 600;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: black;
}

.contact-btn {
  background-color: orange;
}

.bar-icon,
hr {
  display: none;
}

/* <= 576px */
@media screen and (max-width: 576px) {

  .nav-title,
  .nav-menu,
  .contact-btn {
    display: none;
  }

  .bar-icon {
    display: block;
    font-size: 2rem;
  }

  nav {
    max-width: 91.79%;
    margin: 0 0 0.5rem;
    padding: 0.75rem 1rem;
    border: 0.5px solid orange;
  }

}

/* Banner style */
/* main {
  margin: 0 auto;
  max-width: 80.55%;
} */

.banner {
  padding: 0 11.638rem;
  display: flex;
  gap: 4.167rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.75rem;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 12rem;
}

.banner-title {
  font-size: 4.67rem;
  font-weight: 700;
}

.empowering {
  color: orange;
}

.vision {
  color: #01ACFD;
}

.description {
  font-size: 1.67rem;
}

/* <= 576px */
@media screen and (max-width: 576px) {
  /* main {
    max-width: 91.79%;
    margin: 0 auto;
  } */

  .banner {
    padding: 0 4.1%;
    flex-direction: column-reverse;
    gap: 1.25rem;
    margin: 1.75rem 0 0;
  }

  .banner img {
    width: 100%;
  }

  .banner-content {
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
  }

  .banner-title,
  .description {
    text-align: center;
  }

  .banner-title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .primary-btn {
    border-radius: 0.5rem;
    padding: 0.675rem 1.5rem;
    font-size: 1rem;
  }
}

/* Curriculum style */
.curriculum {
  background-image: url("../assets/bg.png");
  padding: 0 11.638rem 4.988rem;
}

.section-title {
  font-weight: 700;
  font-size: 3.824rem;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 2.328rem;
  margin: 6.65rem 0;
}

.card {
  border-radius: 1.79rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.74rem;
  padding: 4.41rem 3.38rem;
  box-sizing: border-box;
  border: 0.94px solid var(--border-color);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, var(--bg-start), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.blue-card {
  --border-color: rgb(222, 245, 255);
  --bg-start: rgb(222, 245, 255);
}

.yellow-card {
  --border-color: rgb(255, 244, 220);
  --bg-start: rgb(255, 244, 220);
}

.purple-card {
  --border-color: rgb(242, 232, 255);
  --bg-start: rgb(238, 225, 255);
}

.card img {
  width: 40%;
}

.card-title {
  font-size: 2.04rem;
  font-weight: 700;
}

.card-description {
  font-weight: 500;
  font-size: 1.254rem;
  color: rgb(128, 128, 128);
  font-family: Raleway;
  line-height: 2.358rem;
}

.card a {
  font-weight: 700;
  font-size: 1.254rem;
  text-decoration: none;
}

.arrow-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.831rem;
}

.arrow-btn {
  background-color: orange;
  width: 4.988rem;
  height: 4.988rem;
  border: none;
  border-radius: 2.5rem;
  color: white;
  font-size: 1.67rem;
  cursor: pointer;
}

/* <= 576px */
@media screen and (max-width: 576px) {
  .curriculum {
    padding: 0 4.1%;
    margin: 2.5rem 0;
  }

  .section-title {
    font-size: 1.625rem;
  }

  .curriculum .card-container {
    flex-direction: column;
    gap: 0.769rem;
    margin: 1.25rem 0 0;
  }

  .curriculum .card {
    padding: 2.25rem 1.75rem;
    gap: 1.375rem;
  }

  .card-title {
    font-size: 1.038rem;
  }

  .card-description {
    font-size: 0.639rem;
  }

  .card a {
    font-size: 0.639rem;
  }

  .arrow-btn-container {
    display: none;
  }
}

/* Stories style */
.stories {
  background-image: url("../assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  ;
  padding: 0 11.638rem 4.988rem;
  display: flex;
  flex-direction: column;
  gap:  6.665rem;
  align-items: center;
}

.stories .container {
  display: flex;
  gap: 1.62rem;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.stories .card-container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.64rem;
  place-items: center;
}
.stories .card-content {
  padding: 0 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3.99rem;
}
.stories .card {
  padding: 0rem;
  border-radius: 1rem;
  display: block;
  background-color: white;
  text-align: left;
}

.stories .card img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.stories .card-btn {
  position: relative;
  border-radius: 3.993rem;
  padding: 1.25rem 1.583rem;
  font-family: Raleway;
  font-size: 1.278rem;
  font-weight: 500;
  color: white;
  border: none;
  transform: translate(3rem, -50%);
  background-color: var(--bg-color);

}
.skyblue-card-btn {
  --bg-color: rgb(60, 216, 232);
}
.olive-card-btn {
  --bg-color: rgb(149, 178, 38);
}
.darkblue-card-btn {
  --bg-color: rgb(93, 88, 240);
}

.stories .container>.card {
  width: 100%;
  max-width: 45.011rem;
  /* height: 52.531rem; */
  height: auto;
  padding-bottom:3.5rem;
}

.stories .card-container>.card {
  width: 100%;
  max-width: 24.218rem;
  height: 25.128rem;
  /* height: auto; */
  padding: 0 0 0.3rem;
}

.stories .card-container .card-title {
  color: rgb(0, 0, 0);
  font-size: 1.278rem;
  font-weight: 700;
  line-height: 2.397rem;
}

.stories .card-description {
  font-size: 1.278rem;
  color: rgb(102, 102, 102);
}

/* <= 576px */
@media screen and (max-width: 576px) {
  .stories {
    padding: 0 4.1%;
    gap: 1.25rem;
  }
  .container > .card {
    display: none;
  }
  .stories .card-container {
    gap: 0.707rem;
  }
  .stories .card-btn {
    width: 130%;
    transform: translate(-6rem, -110%);
    scale: 50%;
  }
  .stories .card-container > .card {
    width: 100%;
    height: auto;
  }
  .stories .card-container .card-title {
    font-size: 0.76rem;
    line-height: 1rem;
  }
  .stories .card-content {
    padding: 0rem 1rem 0rem;
    transform: translateY(-90%);
  }
  
}